<h1>Add a Contact! <%= @phone.name() %> </h1>

<form action="/contact" method="post">
  <input id='phone_id' name='phone_id' type='hidden' value='<%= @dealership.id() %>'>

  <label for='name'>Contacts Name:</label>
  <input id='name' name='name' type='text'>

  <label for='number'>Contact's Number:</label>
  <input id='number' name='number' type='text'>

  <button type="submit">Add Contact</button>
</form>

<h3>Here are all the contacts in your directory:</h3>

<ul>
  <% @phone.contacts().each() do |contact| %>
    <li><a href="/contact/<%= contact.id() %>"><%= contact.name() %> <%= contact.number() %> <%= car.year() %></a></li>
  <% end %>
</ul>

<<a href="/">Return to Main Page</a>
